{{define "footer"}}
<footer class="white page-footer">
    <div class="container"></div>
        <div class="section" style="height: 10vh;">
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <br>
                <a href="http://beian.miit.gov.cn/" target="_blank">豫ICP备18018043号</a>
                <a>- Powered by </a><a href="https://github.com/BinacsLee/server">server</a>
                <br>
            </div>
        </div>
    </div>
</footer>
{{end}}