{{define "blogs"}}
<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>
    <title>{{.Title}}</title>
    <!-- TODO 页面主体  -->
    <!-- ================== Body 渲染起始 ================== -->
	<div class="container valign-wrapper">
        <div class="section" style="width: 100%;">
            <div class="section center valign" style="width: 100%;">
                <h1><a href={{.OriginURL}}>{{.Name}}</a></h1>
            </div>
            <div class="section" style="width: 100%;">
                <!-- <div class="section center" style="height: 80vh;"> -->
                <div class="section" style="height: 80vh;">
                    <div class="row card">
                        <div class="col s1"></div>
                        <div class="col s10">
                            {{.Content}}
                        </div>
                        <div class="col s1"></div>
                        <div class="col s12" style="height: 4vh"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <!-- ================== Body 渲染结束 ================== -->

    {{template "footer"}}
    <!--  Scripts-->
    {{template "scripts"}}
    
</body>
</html>
{{end}}