{{define "global"}}
<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<title>{{.Title}}</title>
    <!-- TODO 页面主体  -->
    <div class="container valign-wrapper" style="height: 90vh;">
        <!-- <div class="container valign-wrapper"> -->
        <div class="section center valign" style="width: 100%;">
            <!-- ================== Body 渲染起始 ================== -->
            {{.Body}}
            <!-- ================== Body 渲染结束 ================== -->
        </div>
    </div>

    {{template "footer"}}
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- TODO 附加js <script src="js/init.js"></script>-->
</body>

</html>
{{end}}