{{define "pages"}}
<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>
    <title>{{.Title}}</title>
    <!-- TODO 页面主体  -->
    <!-- ================== Body 渲染起始 ================== -->
    <div class="container valign-wrapper">
        <div class="section" style="width: 100%;">
            <div class="section center valign" style="width: 100%;">
                <h1>Pastebin Pages  {{.TinyURL}}</h1>
                <div class="section" style="height: 10vh;">
                    <div class="row grey-text text-darken-1">
                        <div class="col s12">Render using Markdown syntax by default</div>
                    </div>
                    <div class="row blue-text text-darken-2">
                        <div class="col s4">Poster: {{.Poster}}</div>
                        <div class="col s4">Syntax: {{.Syntax}}</div>
                        <div class="col s4">Create At: {{.CreateAt}}</div>
                    </div>
                </div>
            </div>
            <div class="section" style="width: 100%;">
                <div class="section" style="height: 10vh;">
                    <div class="row card">
                        <div class="col s1"></div>
                        <div class="col s10">
                            {{.Content}}
                        </div>
                        <div class="col s1"></div>
                        <div class="col s12" style="height: 4vh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ================== Body 渲染结束 ================== -->

    {{template "footer"}}
    <!--  Scripts-->
    {{template "scripts"}}
</body>
</html>
{{end}}